@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DevTest: Exercise 4</h1>
    <p class="lead">
        Display the results from Exercise 3.3 when the user clicks the "Load Comments" button below. The results must appear on the same page as
        this text and appear within div#comments. Take into account reusability and formatting. The included bootstrap theme is sufficient for styling
        purposes.
    </p>

    <p>
        NOTE: You may modify any code within the DevTest.Web project, including the creation of folders.
    </p>
	<button id="loadButton" class="btn btn-primary" onclick="GetExcersizeResults()">Load</button>
</div>

<div id="comments">
	
</div>

<script>
	function GetExcersizeResults() {
		$.ajax({
			url: '/Home/GetExcersizeResults',
			type: 'POST',
			data: {},
			success: function (results) {
				$.each(results, function (key, value) {
					$('#comments').append('<p>' + value + '</p><br/>');
				});
			},
			error: function(xhr) {
				alert(xhr.responseText);
			}
		});
	}
</script>